body{
  background-color: black;
}
img{
  display: none;
}
#player{
}
#gameSpace{
  cursor:pointer;
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: White;
  border: 10px double #000000;
}
